#article img {
	max-width: 100%;
	box-sizing: initial;
	background-color: #fff
}

blockquote {
	margin-top: 0;
	margin-bottom: 16px;
	padding: 0 1em;
	color: #6a737d;
	border-left: .25em solid #dfe2e5;
}

blockquote>:first-child {
	margin-top: 0;
}

blockquote>:last-child {
	margin-bottom: 0;
}

body {
	padding: 10px;
}

p {
	padding: 0 5px;
}

p:before {
	content: "\00a0\00a0"
}

pre {
	background-color: rgba(27, 31, 35, 0.05);
	border-radius: 3px;
	width: 100%;
	font-size: 85%;
	margin: 0 auto;
	padding: .2em .4em;
	overflow: auto;
}

.title {
	margin-top: 20px;
}

.title-bottom {
	width: 20%;
	height: 4px;
	margin: 0 auto;
	margin-bottom: 8px;
	background-color: #3a3a3a;
}

@media (max-width: 767px) {

	#articles-search {
		width: 50%;
	}

	#index-side {
		display: none;
	}

	#index-slide {
		width: 100%;
	}

}

@media (min-width: 767px) {

	#articles-search {
		width: 20%;
	}

	#index-news {
		display: none;
	}

	#index-side {
		width: 25%;
	}

	#index-slide {
		width: 75%;
	}
	
}
