blockquote {
	border-style: solid;
	border-width: 0px 0px 0px 5px;
	border-color: #000000 #000000 #000000 #dee2e6;
	margin-left: 8px;
}

body {
	padding: 10px;
}

p {
	padding: 0 5px;
}

p:before {
	content: "\00a0\00a0"
}

.title {
	margin-top: 20px;
}

.title-bottom {
	width: 20%;
	height: 4px;
	margin: 0 auto;
	margin-bottom: 8px;
	background-color: #3a3a3a;
}

@media (max-width: 768px) {
	#articles-search {
		width: 50%;
	}

	#index-side {
		display: none;
	}

	#index-slide {
		width: 100%;
	}
}

@media (min-width: 768px) {
	#articles-search {
		width: 20%;
	}

	#index-news {
		display: none;
	}

	#index-side {
		width: 25%;
	}

	#index-slide {
		width: 75%;
	}
}
