body {
	padding: 10px;
}

p {
	padding: 0 5px;
}

p:before {
	content: "\00a0\00a0"
}

.title {
	margin-top: 20px;
}

.title-bottom {
	width: 20%;
	height: 4px;
	margin: 0 auto;
	margin-bottom: 8px;
	background-color: #3a3a3a;
}

